/* condivisi */
html, body {
  background-color: rgba(241, 192, 13, 1);
  height: 100%;
}

@font-face {
  font-family: SkipLegDay;
  src: url(../fonts/SkipLegDay.ttf);
}
/* INTRO */
#intro {
  padding: 3rem 0 0;
  font-family: SkipLegDay;
  text-align: center;
  color: #2c2c2b;
}

#intro h1 {
  font-size: 3rem;
  font-weight: 700;
}

#intro h3 {
  font-size: 1.6rem;
}

/* LOGO */
#logo img { 
  width: 50%;
}
/* MESSAGE */
#message {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  color: #2c2c2b;
  padding-bottom: 30px;
}
/* COUNTER */

#counter {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

#counter .countdown {
  color: #2c2c2b;
  display: inline-block;
  background-color: #fafafa;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.625rem;
  border: 0.125rem solid #373736;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 0.1875rem 0.375rem #fafafa;
  transition: all 0.3s ease-in-out;
}

/*
#counter .countdown:hover {
  color: #fafafa;
  background-color: #373736;
  border: 0.125rem solid #fafafa;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 0.1875rem 0.375rem #373736;
}
*/
#counter hr.line {
  width: 12%;
  border: none; 
  border-bottom:  0.11rem solid #373736;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* FORM */
#form .col-md-3 { padding: 0 10px; }

#form .form-item { border-radius: 13px; }

.form-item::-webkit-input-placeholder
{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #3c3c3b;
}
.form-item::-moz-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #3c3c3b;
}
.form-item:-ms-input-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #3c3c3b;
}
.form-item:-moz-placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #3c3c3b;
}

#form #messageForm {
  height: 94px;
}

#form .submit { padding-top: 10px; }

.btn-submit {
  width: 100%;
  font-family: SkipLegDay;
  font-size: 18px;
  color: #fafafa;
  background-color: #373736;
  border: 0.125rem solid #fafafa;
  border-radius: 13px;
  box-shadow: 0px 0px 0.1875rem 0.375rem #373736;
  height: 30px;
  transition: all 0.3s ease-in-out;
}
.btn-submit:hover {
  color: #2c2c2b;
  background-color: #fafafa;
  border: 0.125rem solid #373736;
  box-shadow: 0px 0px 0.1875rem 0.375rem #fafafa;
}

/* SOCIAL */

#social { margin-top: 3%; }

#social p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #2c2c2b;
  margin-bottom: 0.3125rem;
}

#social a {
  text-decoration: none;
}

#social .fa {
  color: #373736;
  font-size: 1.5rem;
  margin: 5px 8px;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

#social .facebook:hover {
  color: #3b5998;
  bottom: 5px;
}
#social .instagram:hover {
  color: #e95950;
  bottom: 5px;
}
#social .github:hover {
  color: #000000;
  bottom: 5px;
}
#social .pinterest:hover {
  color: #cb2027;
  bottom: 5px;
}
#social .twitter:hover {
  color: #55acee;
  bottom: 5px;
}


/* SNACKBAR */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 400px; /* Set a default minimum width */
    margin-left: -200px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar.error {
  background-color: rgba(230, 15, 81, 0.9); /* Black background color */
}
#snackbar.success {
  background-color: rgba(37,165,82,0.9); /* Black background color */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}