/* condivisi */
html, body {
  background-color: #f1df0d;
  height: 100%;
}

@font-face {
  font-family: SkipLegDay;
  src: url(../fonts/SkipLegDay.ttf);
}

/* INTRO */
#intro {
  padding: 2.5rem 0 0;
  font-family: SkipLegDay;
  text-align: center;
  color: #2c2c2b;
}

#intro h1 {
  font-size: 3rem;
  font-weight: 700;
}

#intro h3 {
  font-size: 1.6rem;
}

/* LOGO */
#logo img { 
  width: 50%;
}

/* MESSAGE */
#message {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 300;
  color: #2c2c2b;
}

/* COUNTER */
#counter {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 1rem 0;
}

#counter .countdown {
  color: #2c2c2b;
  display: inline-block;
  background-color: #fafafa;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.625rem;
  border: 0.125rem solid #373736;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 0.1875rem 0.375rem #fafafa;
  transition: all 0.3s ease-in-out;
}

#counter .countdown:hover {
  color: #fafafa;
  background-color: #373736;
  border: 0.125rem solid #fafafa;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 0.1875rem 0.375rem #373736;
}

#counter hr.line {
  width: 12%;
  border: none; 
  border-bottom:  0.11rem solid #373736;
  margin-top: 20px;
  margin-bottom: 20px;
}